PORT=5000
MONGODB_URI=mongodb+srv://amrutaborade333:root@cluster0.qqaseio.mongodb.net/movie_discovery
TMDB_API_KEY=c6e1ef4a151c1e92d642a8e6aab302e4
TMDB_BASE_URL=https://api.themoviedb.org/3
CLIENT_URL=http://localhost:5173
CACHE_TTL_MS=120000
